.advertisement__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 0.6rem;
  width: 60%;
  margin: 8rem auto 0;
  height: 7rem;
  border-radius: 0.75rem;
  background: var(--color-secondary);
  color: var(--color-black);
}

@media screen and (max-width: 600px) {
  .advertisement__container {
    width: 94%;
  }
}
